:root {
  --color-white: #ffffff;
  --color-white-20a: rgba(255, 255, 255, 0.2);
  --color-white-40a: rgba(255, 255, 255, 0.4);
  --color-white-50a: rgba(255, 255, 255, 0.5);
  --color-white-70a: rgba(255, 255, 255, 0.7);
  --color-white-80a: rgba(255, 255, 255, 0.8);
  --color-black: #000000;
  --color-black-20a: rgba(0, 0, 0, 0.2);
  --color-black-40a: rgba(0, 0, 0, 0.4);

  --color-light: #f8f7f4;
  --color-light-50a: rgba(248, 247, 244, 0.5);
  --color-dark: #323232;
  --color-dark-20a: rgba(50, 50, 50, 0.2);

  --color-main: #e84d37;

  --color-main-soft-lightest: #fbded7;
  --color-main-soft-lighten: #ffbc9e;
  --color-main-soft-lighten-30a: rgba(255, 188, 158, 0.3);
  --color-main-soft-light: #f6b5a5;
  --color-main-soft: #d07058;

  --color-outline: #005fcc;

  --color-bg-green: #849d8f;
  --color-bg-blue: #8996a6;
  --color-bg-brown: #9d8b84;

  --color-blue-52a: rgba(46, 136, 228, 0.52);
  --color-blue-dark-50a: rgba(49, 50, 53, 0.5);

  --color-red-light: #ac1000;
  --color-red-light-64a: rgba(172, 16, 0, 0.64);
  --color-red: #942718;
  --color-red-dark-76a: rgba(160, 32, 11, 0.76);
  --color-red-darken-54a: rgba(85, 8, 0, 0.54);

  --color-gray-lightest: #cacaca;
  --color-gray-lighten: #ededed;
  --color-gray-light-52a: rgba(178, 178, 178, 0.52);
  --color-gray: #ababab;
  --color-gray-dark: #999999;
  --color-gray-darken: #696969;
  --color-gray-darkest: #5a5a5a;

  --gradient: linear-gradient(180deg, #f26843 0%, #e74a35 100%);
  --gradient-hvr:
    linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)),
    linear-gradient(180deg, #f26843 0%, #e74a35 100%);
  --gradient-actv:
    linear-gradient(0deg, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)),
    linear-gradient(180deg, #f26843 0%, #e74a35 100%);
}
