:root {
  --color-white: #ffffff;
  --color-black: #000000;

  --color-text: #323232;

  --color-bg-green: #849D8F;
  --color-bg-blue: #8996A6;
  --color-bg-brown: #9D8B84;


  // main-button
  --btn-text-color: var(--color-white);
  --btn-bg-gradient: linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  --btn-shadow: 0px 2px 2px rgba(85, 8, 0, 0.54);
  --btn-big-text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
  --btn-big-bg-shadow: 0px 2px 2px rgba(172, 16, 0, 0.64);

  --btn-hvr-bg-gradient:
    linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)),
    linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  --btn-hvr-bg-shadow: 0px 1px 2px #AC1000;
  --btn-big-hvr-bg-shadow: 0px 2px 2px #AC1000;

  --btn-actv-bg-gradient:
    linear-gradient(0deg, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)),
    linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  --btn-actv-bg-shadow: inset 0px 2px 2px #942718;


  // links
  --lnk-text-color: var(--color-white);
  --lnk-hvr-text-color: #FFBC9E;
  // обычное подч       rgba(255, 255, 255, 0.3)
  // наведен текст      #FFBC9E
  // наведен подч       rgba(255, 188, 158, 0.3)
  // нажит              --//--
  // фон подч           rgba(50, 50, 50, 0.3)
  // фон навед          #E84D37
  // фон навед под      rgba(232, 77, 55, 0.3)
  // фон нажат          --//--


  // menu-top
  --menu-link-text: var(--color-white);
  --menu-link-hvr-text: var(--color-text);
  --menu-link-hvr-bg: var(--color-white);
  --menu-link-actv-bg: #EDEDED;
  --menu-link-actv-shadow: inset 0px 2px 1px #696969;
  --menu-link-select-bg: #D07058;
  --menu-link-separator: rgba(255, 255, 255, 0.2);

  --menu-drp-bg: var(--color-white);
  --menu-drp-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
  --menu-drp-text: var(--color-text);
  --menu-drp-hvr-bg: #FBDED7;
  --menu-drp-actv-bg: #F6B5A5;
  --menu-drp-select-text: var(--color-white);
  --menu-drp-select-bg: #D07058;
  --menu-drp-separator: rgba(50, 50, 50, 0.2);


  // btn-drop
  --btn-drop-text: var(--color-white);
  --btn-drop-bg: rgba(255, 255, 255, 0.2);
  --btn-drop-hvr-text: var(--color-text);
  --btn-drop-hvr-bg: var(--color-white);


  // input & modal
  --modal-bg: #F8F7F4;
  --modal-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
  --input-text: var(--color-text);
  --input-ph-text: #999999;
  --input-bg: var(--color-white);
  --input-border: 0 0 0 1px rgba(178, 178, 178, 0.52);
  --input--hvr-border: 0 0 0 2px rgba(178, 178, 178, 0.52);
  --input--actv-border: 0 0 0 2px rgba(46, 136, 228, 0.52);


  // #323232 Цвет иконок (есть еще #343434) / текста
  // #E84D37 фон иконок
  // #2C2829 цвет иконок (крестик)
  // #ABABAB серый цвет текста
  // #CACAC7 разделитель корзины
  // rgba(255, 255, 255, 0.2) беграунд фильтров


  // слайдер клавиши
  // наведение фон      rgba(255, 255, 255, 0.4)

  // карточка
  // текст подчерк      rgba(255, 255, 255, 0.2)
  // наведение фон      rgba(0, 0, 0, 0.2)

  // фильтры (сортировка)
  // фон                rgba(255, 255, 255, 0.2)

  // соц сети (кнопки)
  // фон                rgba(255, 255, 255, 0.8)
  // обводка            rgba(255, 255, 255, 0.5)
  // фон наведение      #ffffff
  // обводка нажат      rgba(255, 255, 255, 0.7
}
