.breadcrumbs {
  @extend %reset-list;

  display: flex;
}

.breadcrumbs__item {
  margin-right: 8px;
  padding-right: 14px;

  font-size: 14px;
  line-height: 16px;

  background-image: url("../img/icon-bread-arrow.svg");
  background-repeat: no-repeat;
  background-size: 6px;
  background-position: right 0 center;

  &:last-child {
    margin-right: 0;

    background-image: none;
  }
}

.breadcrumbs__link {

}
