.btn-drop {
  position: relative;

  &--search .btn-drop__btn {
    width: 32px;
    height: 32px;
    padding: 0;
  }

  &--search .btn-drop__svg {
    margin: 0;
  }

  &--search .btn-drop__dropdown {
    width: 341px;
  }

  &--login .btn-drop__dropdown {
    width: 277px;
  }

  &--bag .btn-drop__dropdown {
    width: 539px;
  }

  &--bag-full .btn-drop__btn {
    color: var(--color-dark);

    background-color: var(--color-white);
  }

  &--bag-full .btn-drop__svg {
    fill: var(--color-dark);
  }

  &:hover .btn-drop__dropdown,
  &:focus-within .btn-drop__dropdown,
  &:focus .btn-drop__dropdown {
    display: block;
  }

  &::after {
    content: "";

    position: absolute;
    top: 100%;
    left: 0;

    display: block;
    width: 100%;
    height: 20px;
  }
}

.btn-drop__btn {
  @include transition;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  padding: 0 16px;

  font-weight: 500;
  color: var(--color-white);

  background-color: var(--color-white-20a);
  border: none;
  border-radius: 20px;
  outline: none;

  &:hover,
  &:focus {
    color: var(--color-dark);

    background-color: var(--color-white);
  }

  &:focus-visible {
    outline: 1px auto var(--color-outline);
  }

  &:hover .btn-drop__svg,
  &:focus .btn-drop__svg {
    fill: var(--color-dark);
  }
}

.btn-drop__svg {
  @include transition(fill);

  margin-right: 8px;

  fill: var(--color-white);
}

.btn-drop__dropdown {
  position: absolute;
  right: 0;
  top: calc(100% + 10px);

  display: none;
  padding: 20px 15px;

  background-color: var(--color-light);
  border-radius: 4px;
  box-shadow: 0 20px 20px var(--color-black-40a);
}
