.btn-drop {
  position: relative;

  &--search .btn-drop__btn {
    width: 32px;
    height: 32px;
    padding: 0;
  }

  &--search .btn-drop__svg {
    margin: 0;
  }
}

.btn-drop__btn {
  @include transition;

  // display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  // padding: 8px 16px;
  padding: 0 16px;

  font-weight: 500;
  color: var(--btn-drop-text);

  background-color: var(--btn-drop-bg);
  border: none;
  border-radius: 20px;
  outline: none;

  &:hover,
  &:focus {
    color: var(--btn-drop-hvr-text);

    background-color: var(--btn-drop-hvr-bg);
  }

  &:hover .btn-drop__svg,
  &:focus .btn-drop__svg {
    fill: var(--btn-drop-hvr-text);
  }
}

.btn-drop__svg {
  @include transition(fill);

  margin-right: 8px;

  fill: var(--btn-drop-text);
}

.btn-drop__dropdown {
  position: absolute;
  right: 0;
  top: calc(100% + 10px);

  padding: 20px 15px;

  background-color: var(--modal-bg);
  border-radius: 4px;
  box-shadow: var(--modal-shadow);
}
