.catalog {
  padding-top: 100px;
}

.catalog__wrapper {
  @extend %wrapper;
}

.catalog__breadcrumbs {
  margin-bottom: 8px;
}

.catalog__title {
  margin: 0;
  margin-bottom: 29px;

  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
}

.catalog__filters {

}

.catalog__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 40px;
  justify-items: center;
}

.catalog__pagination {

}
