.description {
  color: var(--color-text);
}

.description__wrapper {
  @extend %wrapper;
}

.description__content {
  padding: 24px 20px 17px 20px;

  background-color: var(--color-bg-brown);
  background-image: url("../img/bg-waffle.jpg");
  border-radius: 16px;
}

.description__title {
  margin: 0;
  margin-bottom: 7px;

  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}

.description__list {
  @extend %reset-list;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.description__item {
  width: 48.9%;
  margin-bottom: 13px;
  padding-top: 9px;
  padding-left: 55px;

  font-size: 16px;
  line-height: 22px;

  background-repeat: no-repeat;
  background-position: 0 0;

  &--technology {
    background-image: url("../img/icon-ice.svg");
  }

  &--partners {
    background-image: url("../img/icon-cow.svg");
  }

  &--ingredients {
    background-image: url("../img/icon-leaflet.svg");
  }

  &--delivery {
    background-image: url("../img/icon-thermometer.svg");
  }
}
