.footer {

}

.footer__wrapper {
  @extend %wrapper;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 18px;
  padding-bottom: 25px;
}

.footer__social {

}

.footer__info {

}

.footer__copyright {

}
