.header {
  position: absolute;
  z-index: 2;

  display: block;
  width: 100%;
}

.header__wrapper {
  @extend %wrapper;

  position: relative;

  padding-top: 9px;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.header__logo {
  width: 154px;
  height: 64px;
  margin-right: 11px;

  &[href]:hover .header__logo-icon,
  &[href]:focus .header__logo-icon {
    fill: var(--lnk-hvr-text-color);
  }
}

.header__logo-icon {
  @include transition(fill);

  fill: var(--color-white);
}

.header__menu {
  margin-right: auto;
}

.header__btn-list {
  display: flex;
}

.header__btn {
  margin-right: 10px;

  &:last-child {
    margin-right: 0;
  }
}

.header__contact {
  position: absolute;
  right: $container-padding;
  top: calc(100% + 2px);
  z-index: -1;

  display: flex;
  flex-direction: column;
  align-items: flex-end;

  font-weight: 700;
  text-align: right;
}

.header__contact-working-hours {
  margin: 0;
  margin-bottom: 8px;

  font-size: 14px;
  line-height: 16px;
}

.header__contact-tel {
  @include transition(color);

  display: block;

  font-size: 22px;
  line-height: 24px;
  color: var(--lnk-text-color);

  outline: none;

  &:hover,
  &:focus {
    color: var(--lnk-hvr-text-color);
  }
}
