.header {
  position: absolute;
  z-index: 2;

  display: block;
  width: 100%;
}

.header__wrapper {
  @extend %wrapper;

  padding-top: 9px;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.header__logo {
  width: 154px;
  height: 64px;
  margin-right: 11px;
}

.header__menu {
  margin-right: auto;
}

.header__btn-dropdown {
  margin-right: 10px;

  &:last-child {
    margin-right: 0;
  }
}

.header__search {

}

.header__contact {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;

  font-weight: 700;
  text-align: right;
}

.header__contact-working-hours {
  margin: 0;
  margin-bottom: 8px;

  font-size: 14px;
  line-height: 16px;
}

.header__contact-tel {
  @include transition(color);

  display: block;

  font-style: 22px;
  line-height: 24px;
  color: var(--lnk-text-color);

  outline: none;

  &:hover,
  &:focus {
    color: var(--lnk-hvr-text-color);
  }
}
