.info-links {
  @extend %reset-list;

  display: grid;
  grid-template-columns: max-content max-content;
}

.info-links__item {

}

.info-links__link {
  display: flex;
  padding-left: 33px;

  font-size: 13px;
  line-height: 22px;

  &--icon {
    align-items: center;
    padding-left: 0;

    font-weight: 700;
  }

  svg {
    @include transition(fill);

    margin-right: 7px;
    margin-left: 9px;

    fill: var(--color-white);
  }

  &:hover,
  &:focus {
    svg {
      fill: var(--color-main-soft-lighten);
    }
  }
}
