.input {
  @include transition(box-shadow);

  display: block;
  width: 100%;
  padding: 13px 14px;

  font-family: $font-default;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  color: var(--color-dark);

  background-color: var(--color-white);
  border: none;
  box-shadow: 0 0 0 1px var(--color-gray-light-52a);
  border-radius: 4px;
  outline: none;

  &::placeholder {
    font-weight: 400;
    color: var(--color-gray-dark);
  }

  &:hover {
    box-shadow: 0 0 0 2px var(--color-gray-light-52a);
  }

  &:focus {
    box-shadow: 0 0 0 2px var(--color-blue-52a);
  }

  &:focus-visible {
    outline: 1px auto var(--color-outline);
  }

  &[type="search"]::-webkit-search-decoration,
  &[type="search"]::-webkit-search-cancel-button,
  &[type="search"]::-webkit-search-results-button,
  &[type="search"]::-webkit-search-results-decoration {
    display: none;
  }
}
