.link {
  @include transition;

  color: var(--lnk-text-color);

  &[href] {
    text-decoration: underline;
    text-decoration-color: var(--lnk-separator);
    text-underline-position: under;
  }

  &[href]:hover,
  &[href]:focus {
    color: var(--lnk-hvr-text-color);

    text-decoration-color: var(--lnk-hvr-separator);
  }
}
