.link {
  @include transition;

  color: var(--color-white);

  &[href] {
    text-decoration: underline;
    text-decoration-color: var(--color-white-20a);
    text-underline-position: under;
  }

  &[href]:hover,
  &[href]:focus {
    color: var(--color-main-soft-lighten);

    text-decoration-color: var(--color-main-soft-lighten-30a);
  }
}
