$link-pdng-t: 6px;
$link-pdng-rl: 13px;
$link-pdng-b: 7px;

.menu-top {
  @extend %reset-list;

  display: flex;
}

.menu-top__dropdown {
  position: relative;

  margin-right: 6px;

  &:last-child {
    margin-right: 0;
  }

  &:hover .menu-top__dropdown-menu,
  &:focus-within .menu-top__dropdown-menu,
  &:focus .menu-top__dropdown-menu {
    display: block;
  }

  &::after {
    content: "";

    position: absolute;
    top: 100%;
    left: 0;

    display: block;
    width: 100%;
    height: 20px;
  }
}

.menu-top__link {
  @include transition;

  position: relative;

  display: block;
  padding: $link-pdng-t $link-pdng-rl $link-pdng-b $link-pdng-rl;

  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: var(--color-white);

  border-radius: 26px;
  outline: none;

  &:last-child {
    margin-right: 0;
  }

  &[href]:hover,
  &[href]:focus {
    color: var(--color-dark);

    background-color: var(--color-white);
    border-radius: 26px;
  }

  &:focus-visible {
    outline: 1px auto var(--color-outline);
  }

  &[href]:active {
    background-color: var(--color-gray-lighten);
    box-shadow: inset 0 2px 1px var(--color-gray-darken);
  }

  &:not([href]) {
    background-color: var(--color-main-soft);
    cursor: default;
  }

  &[href]::after {
    content: "";

    position: absolute;
    bottom: $link-pdng-b;
    left: $link-pdng-rl;

    width: calc(100% - #{$link-pdng-rl} * 2);
    height: 1px;

    background-color: var(--color-white-20a);
  }
}

.menu-top__dropdown-menu {
  position: absolute;
  top: calc(100% + 10px);
  left: 0;

  display: none;
  min-width: 143px;
  padding: 3px 0 5px 0;

  background-color: var(--color-white);
  border-radius: 4px;
  box-shadow: 0 20px 20px var(--color-black-40a);

  &:hover,
  &:focus {
    display: block;
  }
}

.menu-top__dropdown-link {
  @include transition;

  display: block;
  padding: 7px 15px 8px 22px;

  font-size: 14px;
  line-height: 16px;
  color: var(--color-dark);

  outline: none;

  &:last-child {
    margin-bottom: 0;
  }

  &[href]:hover,
  &[href]:focus {
    background-color: var(--color-main-soft-lightest);
  }

  &:focus-visible {
    outline: 1px auto var(--color-outline);
  }

  &[href]:active {
    background-color: var(--color-main-soft-light);
  }

  &:not([href]) {
    color: var(--color-white);

    background-color: var(--color-main-soft);
    cursor: default;
  }

  &--mark {
    position: relative;

    margin-bottom: 8px;

    font-weight: 700;

    border-top-left-radius: 4px;
    border-top-right-radius: 4px;

    &::after {
      content: "";

      position: absolute;
      bottom: -4px;
      left: 6px;

      width: calc(100% - 15px);
      height: 1px;

      background-color: var(--color-dark-20a);
    }
  }
}
