.page-index {
  @include transition(background-color);

  .promo {
    position: relative;
    z-index: 1;

    margin-top: -320px;
    margin-bottom: 40px;
  }

  .popular-goods {
    margin-bottom: 40px;
  }

  .description {
    margin-bottom: 40px;
  }

  .articles {
    margin-bottom: 40px;
  }
}
