.pagination {
  display: flex;
}

.pagination__nav {
  display: grid;
  place-items: center;
  width: 26px;
  height: 26px;

  &--prev .pagination__nav-icon {
    margin-right: 10px;

    transform: scaleX(-1);
  }

  &--next {
    margin-left: 10px;
  }

  &[href] .pagination__nav-icon {
    fill: var(--color-white);
  }


  &[href]:hover,
  &[href]:focus {
    background-color: var(--color-white-20a);
    border-radius: 50%;
  }

  &[href]:active {
    background-color: var(--color-white);
  }

  &[href]:active .pagination__nav-icon {
    fill: var(--color-dark);
  }
}

.pagination__nav-icon {
  @include transition(fill);

  fill: var(--color-white-20a);
}

.pagination__list {
  @extend %reset-list;

  display: flex;
}

.pagination__item {
  margin-right: 4px;

  &:last-child {
    margin-right: 0;
  }
}

.pagination__link {
  @include transition;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 26px;
  height: 26px;

  font-size: 16px;
  line-height: 18px;
  font-weight: 500;

  border-radius: 50%;

  &:not([href]) {
    color: var(--color-dark);

    background-color: var(--color-white);
    cursor: default;
  }

  &[href]:hover,
  &[href]:focus {
    background-color: var(--color-white-20a);
  }

  &[href]:active {
    color: var(--color-dark);

    background-color: var(--color-white);
  }
}
