.search {

}

.search__input {
  @include transition;

  width: 100%;
  width: 311px;
  padding: 13px 14px;

  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  color: var(--input-text);

  background-color: var(--input-bg);
  border: none;
  box-shadow: var(--input-border);
  border-radius: 4px;
  outline: none;

  &::placeholder {
    font-weight: 400;
    color: var(--input-ph-text);
  }

  &:hover {
    box-shadow: var(--input--hvr-border);
  }

  &:focus {
    box-shadow: var(--input--actv-border);
  }

  &[type="search"]::-webkit-search-decoration,
  &[type="search"]::-webkit-search-cancel-button,
  &[type="search"]::-webkit-search-results-button,
  &[type="search"]::-webkit-search-results-decoration {
    display: none;
  }
}
