.social-list {
  @extend %reset-list;

  display: flex;
  justify-content: space-between;
}

.social-list__item {
  margin-right: 12px;

  &:last-child {
    margin-right: 0;
  }
}

.social-list__link {
  @include transition(border-color);

  display: block;

  width: 36px;
  height: 36px;

  border: 2px solid var(--social-border);
  border-radius: 50%;

  svg {
    @include transition(fill);

    fill: var(--social-bg);
  }

  &:hover,
  &:focus {
    svg {
      fill: var(--social-hvr-bg);
    }
  }

  &:active {
    border-color: var(--social-actv-border);
  }
}

.social-list__img {
  border-radius: 50%;
}
