.social-list {
  @extend %reset-list;

  display: flex;
  justify-content: space-between;
}

.social-list__item {
  margin-right: 8px;

  &:last-child {
    margin-right: 0;
  }
}

.social-list__link {
  @include transition(border-color);

  display: block;

  width: 36px;
  height: 36px;

  border: 2px solid var(--color-white-50a);
  border-radius: 50%;

  svg {
    @include transition(fill);

    fill: var(--color-white-80a);
  }

  &:hover,
  &:focus {
    svg {
      fill: var(--color-white);
    }
  }

  &:active {
    border-color: var(--color-white-70a);
  }
}

.social-list__img {
  display: block;

  border-radius: 50%;
}
