.textarea {
  @include transition(box-shadow);

  display: block;
  width: 100%;
  min-height: 122px;
  padding: 13px 14px;

  font-family: $font-default;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  color: var(--input-text);

  background-color: var(--input-bg);
  border: none;
  box-shadow: var(--input-border);
  border-radius: 4px;
  outline: none;
  resize: none;

  &::placeholder {
    font-weight: 400;
    color: var(--input-ph-text);
  }

  &:hover {
    box-shadow: var(--input--hvr-border);
  }

  &:focus {
    box-shadow: var(--input--actv-border);
  }
}
