include ./images

-
  var iceCream = [
    {
      src: 'img/banner-img-green@1x.png',
      title: 'Крем-брюле и пломбир с малиновым джемом',
    },
    {
      src: 'img/banner-img-blue@1x.png',
      title: 'Шоколадный пломбир и лимонный сорбет',
    },
    {
      src: 'img/banner-img-brown@1x.png',
      title: 'Пломбир с помадкой и клубничный щербет',
    },
  ]

section.banner
  div.banner__wrapper
    h2.visually-hidden Спецпредложение – комбо

    ul.banner__list
      each item in iceCream
        li.banner__item
          +picture('banner__item-img', item.src, '1200', '966', item.title)
          p.banner__item-name=item.title

    button.banner__btn-buy.main-btn.main-btn--big(type='button') Давайте оба!

    div.banner__controls
      button.banner__controls-btn Слайд 1
      button.banner__controls-btn Слайд 2
      button.banner__controls-btn Слайд 3
