mixin banner(iceCreamPromo)
  section.banner
    h2.visually-hidden Спецпредложение – комбо
    .banner__wrapper.swiper-container
      ul.banner__list.swiper-wrapper
        each item in iceCreamPromo
          li.banner__item.swiper-slide(data-bg-color=item.background, data-product=item.title)
            +picture('banner__item-img', item.src, '1200', '966', item.title)
            p.banner__item-name=item.title
      .banner__controls.swiper-pagination

    button.banner__btn-buy.main-btn.main-btn--big(type='button') Давайте оба!
