include ./images

-
  var iceCream = [
    {
      src: 'img/banner-img-green@1x.png',
      title: 'Крем-брюле и пломбир с малиновым джемом',
    },
    {
      src: 'img/banner-img-blue@1x.png',
      title: 'Шоколадный пломбир и лимонный сорбет',
    },
    {
      src: 'img/banner-img-brown@1x.png',
      title: 'Пломбир с помадкой и клубничный щербет',
    },
  ]

section.banner
  h2.visually-hidden Спецпредложение – комбо
  .banner__wrapper.swiper-container
    ul.banner__list.swiper-wrapper
      each item in iceCream
        li.banner__item.swiper-slide
          +picture('banner__item-img', item.src, '1200', '966', item.title)
          p.banner__item-name=item.title
    .banner__controls.swiper-pagination

  button.banner__btn-buy.main-btn.main-btn--big(type='button') Давайте оба!
