mixin contact()
  div.contact&attributes(attributes)
    p.contact__adress
      span.contact__text Адрес главного офиса и офлайн‑магазина:
      a.contact__link(href='https://yandex.ru/maps/-/CKa0IIPp') ул. Большая Конюшенная, 19/8, Санкт-Петербург
    p.contact__adress
      span.contact__text Для заказов по телефону:
      a.contact__link(href='tel:+78124502525') 8 812 450-25-25
      span.contact__text (с 10 до 20 ежедневно)

    button.contact__btn.main-btn Форма обратной связи
