mixin contact()
  div.contact&attributes(attributes)
    p.contact__adress
      span.contact__text-normal Адрес главного офиса и офлайн-магазина:
      span.contact__text-bold ул. Большая Конюшенная, 19/8, Санкт-Петербург
    p.map__adress
      span.contact__text-normal Для заказов по телефону:
      span.contact__text-bold.map__tel 8 812 450-25-25
      span.contact__text-normal (с 10 до 20 ежедневно)

    button.contact__btn Форма обратной связи
