section.description
  div.description__wrapper
    h2.description__title Магазин Глэйси – это онлайн и офлайн-магазин по продаже мороженого собственного производства на развес

    ul.description__list
      li.description__item.description__item--technology Все наше мороженое изготавливается на собственном производстве, с использованием современного оборудования и проверенных временем технологий.
      li.description__item.description__item--partners Закупка ингредиентов производится только у проверенных фермерских хозяйств и компаний, с которыми нас связывает долговременное сотрудничество.
      li.description__item.description__item--ingredients Для приготовления мороженого используются настоящие сливки и молоко высочайшего качества. Все дополнительные ингредиенты и добавки произведены из натурального, экологически чистого сырья.
      li.description__item.description__item--delivery Доставка нашего мороженого до заказчиков осуществляется в специальном термопаке, который не дает мороженому растаять в пути и позволяет сохранить превосходный вкус.
