mixin footer()
  footer.footer
    .footer__wrapper

      .footer__social
        +social-list(socialLinks)

      .footer__info
        +info-links(infoLinks)

      .footer__copyright
        +copyright()
