mixin header(isCatalog)
  header.header
    .header__wrapper
      a.header__logo(href=(isCatalog ? 'index.html' : null))
        img(src='img/logo-gllacy.svg', width='154', height='64' alt='Логотип магазина Gllacy')

      nav.header__menu
        +menuTop(isCatalog)

      .header__btn-dropdown.btn-drop.btn-drop--search
        button.btn-drop__btn(type='button', aria-label='Поиск')
          +svg('btn-drop__svg', 'icon-search', '16', '16')
        .btn-drop__dropdown
          form.header__search.search(action='https://echo.htmlacademy.ru', method='get')
            input.search__input(type='search', name='search', placeholder='Крем-брюле' aria-label='Search')
      .header__btn-dropdown.btn-drop.btn-drop--login
        button.btn-drop__btn(type='button')
          +svg('btn-drop__svg', 'icon-login', '20', '19')
          = 'Вход'
        .btn-drop__dropdown
      .header__btn-dropdown.btn-drop.btn-drop--bag
        button.btn-drop__btn(type='button')
          +svg('btn-drop__svg', 'icon-bag', '21', '20')
          = 'Пусто'
        .btn-drop__dropdown

      .header__contact
        p.header__contact-working-hours с 10 до 20, ежедневно
        a.header__contact-tel(href='tel:+78124502525') 8 812 450-25-25
