header.header
  div.header__wrapper
    a.header__logo(href='#')
      img

    nav.header__menu
      include ./menu-top

    div.header__btn-dropdown.btn-drop
      button.btn-drop__btn(type='button') Поиск
      div.btn-drop__dropdown
        form.header__search.search(action='')
          input.input(type='search' placeholder='Крем-брюле' aria-label='Search')
    div.header__btn-dropdown.btn-drop
      button.btn-drop__btn(type='button') Вход
      div.btn-drop__dropdown
    div.header__btn-dropdown.btn-drop
      button.btn-drop__btn(type='button') Пусто
      div.btn-drop__dropdown

    div.header__contact
      p.header__contact-working-hours с 10 до 20, ежедневно
      a.header__contact-tel(href='tel:+78124502525') 8 812 450-25-25
