mixin header(isCatalog)
  header.header
    .header__wrapper
      a.header__logo(href=(isCatalog ? 'index.html' : null))
        img(src='img/logo-gllacy.svg', width='154', height='64' alt='Логотип магазина Gllacy')

      nav.header__menu
        +menuTop(isCatalog)

      .header__btn-list
        .header__btn
          .btn-drop.btn-drop--search
            button.btn-drop__btn(type='button', aria-label='Поиск')
              +svg('btn-drop__svg', 'icon-search', '16', '16')
            .btn-drop__dropdown
              +search()

        .header__btn
          .btn-drop.btn-drop--login
            button.btn-drop__btn(type='button')
              +svg('btn-drop__svg', 'icon-login', '20', '19')
              = 'Вход'
            .btn-drop__dropdown
              +login()

        .header__btn
          .btn-drop.btn-drop--bag(class=(isCatalog ? 'btn-drop--bag-full' : null))
            button.btn-drop__btn(type='button')
              if isCatalog
                +svg('btn-drop__svg', 'icon-bag-full', '21', '20')
              else
                +svg('btn-drop__svg', 'icon-bag', '21', '20')
              = 'Пусто'
            if isCatalog
              .btn-drop__dropdown
                +bag()

      .header__contact
        p.header__contact-working-hours с 10 до 20, ежедневно
        a.header__contact-tel(href='tel:+78124502525') 8 812 450-25-25
