ul.menu-top
  li.menu-top__dropdown
    a.menu-top__link(href='catalog.html') Каталог
    div.menu-top__dropdown-menu
      a.menu-top__dropdown-link.menu-top__dropdown-link--mark(href='#') Новинки
      a.menu-top__dropdown-link(href='catalog.html') Сливочное
      a.menu-top__dropdown-link Щербеты
      a.menu-top__dropdown-link(href='#') Фруктовый лед
      a.menu-top__dropdown-link(href='#') Мелорин
  li.menu-top__dropdown
    a.menu-top__link Доставка и оплата
  li.menu-top__dropdown
    a.menu-top__link(href='#') О компании
