mixin menuTop(isCatalog)
  ul.menu-top
    li.menu-top__dropdown
      a.menu-top__link(href=(isCatalog ?  null : 'catalog.html'))
        ='Каталог'
      .menu-top__dropdown-menu
        a.menu-top__dropdown-link.menu-top__dropdown-link--mark(href='catalog.html') Новинки
        a.menu-top__dropdown-link(href=(isCatalog ?  null : 'catalog.html')) Сливочное
        a.menu-top__dropdown-link(href='catalog.html') Щербеты
        a.menu-top__dropdown-link(href='catalog.html') Фруктовый лед
        a.menu-top__dropdown-link(href='catalog.html') Мелорин
    li.menu-top__dropdown
      a.menu-top__link(href='#') Доставка и оплата
    li.menu-top__dropdown
      a.menu-top__link(href='#') О компании
