mixin popular-goods(iceCreamHit)
  section.popular-goods
    .popular-goods__wrapper
      h2.visually-hidden Популярные товары

      ul.popular-goods__list
        each item in iceCreamHit
          li.popular-goods__item
            +product(item.name, item.img, item.price, item.hit)
