mixin product(name, src, price, hit)
  div.product
      img.product__img(src=src, width='267', height='267', alt=name)
      if hit
        span.product__label Hit
      p.product__price #{price} ₽
        span /кг
      h3.product__title=name
