mixin promo(promo)
  section.promo
    .promo__wrapper
      h2.visually-hidden Спецпредложение – промо

      each item in promo
        div(class=`promo__item promo__item--${item.class}`)
          h3.promo_title= item.title
          p.promo__description= item.text
          a.promo-btn.main-btn(href='#')= item.textBtn
