-
  var promo = [
    {
      title: 'Малинка даром!',
      text: 'При покупке 2 кг любого фруктового мороженого, добавим в ваш заказ банку малинового варенья бесплатно.',
      textBtn: 'Хочу варенье!',
    },
    {
      title: 'Шоколадки даром!',
      text: 'При покупке 2 кг пломбира, добавим в ваш заказ упаковку вкуснейшей шоколадной присыпки совершенно бесплатно.',
      textBtn: 'Хочу шоколадки!',
    },
  ]

section.promo
  div.promo__wrapper
    h2.visually-hidden Спецпредложение – промо

    each item in promo
      div.promo__item
        h3.promo_title=item.title
        p.promo__description=item.text
        button.promo-btn.main-btn=item.textBtn
