mixin search()
  form.search(action='https://echo.htmlacademy.ru', method='get')
    label.visually-hidden(for='search_value') Поиск по сайту
    input.input(id='search_value', type='search', name='search_value', placeholder='Крем-брюле', required)
