mixin social-list(socialLinks)
  ul.social-list
    each item in socialLinks
      li.social-list__item
        a.social-list__link(href='#', target='_blank', aria-label=item.title)
          +svg('social-list__img', item.img, '32', '32')
