include ./images

-
  var socialLinks = [
    {
      img: 'icon-fb',
      title: 'Страница в фейсбуке',
    },
    {
      img: 'icon-vk',
      title: 'Группа в контакте',
    },
    {
      img: 'icon-insta',
      title: 'Профиль в инстаграмме',
    },
    {
      img: 'icon-twitter',
      title: 'Аккаунт в твиттере',
    },
  ]

ul.social-list
  each item in socialLinks
    li.social-list__item
      a.social-list__link(href='#')
        +svg('social-list__img', item.img, '32', '32')
        span.visually-hidden= item.title
