include ../components/bag
include ../components/breadcrumbs
include ../components/copyright
include ../components/footer
include ../components/filters
include ../components/head
include ../components/header
include ../components/images
include ../components/info-links
include ../components/login
include ../components/menu-top
include ../components/pagination
include ../components/product
include ../components/search
include ../components/social-list

-
  var isCatalog = true

  var title = 'HTML Academy: Глейси – Каталог'

  var goodsInBag = [
    {
      name: 'Пломбир с апельсиновым джемом',
      weight: 1.5,
      price: 200,
      img: 'img/ice-сream-01@1x.jpg',
    },
    {
      name: 'Клубничный пломбир с присыпкой из белого шоколада',
      weight: 1.5,
      price: 300,
      img: 'img/ice-сream-03@1x.jpg',
    },
  ]

  var breadcrumbs = [
    {
      name: 'Главная',
      url: 'index.html',
    },
    {
      name: 'Каталог',
      url: '#',
    },
    {
      name: 'Сливочное',
      url: null,
    },
  ]

  var iceCream = [
    {
      img: 'img/ice-сream-01@1x.jpg',
      name: 'Сливочное с апельсиновым джемом и цитрусовой стружкой',
      price: 310,
    },
    {
      img: 'img/ice-сream-02@1x.jpg',
      name: 'Сливочно-кофейное с кусочками шоколада',
      price: 380,
    },
    {
      img: 'img/ice-сream-03@1x.jpg',
      name: 'Сливочно-клубничное с присыпкой из белого шоколада',
      price: 355,
    },
    {
      img: 'img/ice-сream-04@1x.jpg',
      name: 'Сливочное крем-брюле с карамельной подливкой',
      price: 415,
    },
    {
      img: 'img/ice-сream-05@1x.jpg',
      name: 'Сливочное с брусничным джемом',
      price: 325,
    },
    {
      img: 'img/ice-сream-06@1x.jpg',
      name: 'Сливочно-черничное с цельными ягодами черники',
      price: 410,
    },
    {
      img: 'img/ice-сream-07@1x.jpg',
      name: 'Сливочно-лимонное с карамельной присыпкой',
      price: 315,
    },
    {
      img: 'img/ice-сream-08@1x.jpg',
      name: 'Сливочное с шоколадной стружкой',
      price: 320,
    },
    {
      img: 'img/ice-сream-09@1x.jpg',
      name: 'Сливочно-ванильное с кусочками шоколада',
      price: 440,
    },
    {
      img: 'img/ice-сream-10@1x.jpg',
      name: 'Сливочноe с ментоловым сиропом',
      price: 435,
    },
    {
      img: 'img/ice-сream-11@1x.jpg',
      name: 'Сливочное с кусочками черного шоколада',
      price: 355,
    },
    {
      img: 'img/ice-сream-12@1x.jpg',
      name: 'Сливочное с мятным сиропом',
      price: 420,
    },
  ]

  var filters = {
    sort: [
      {
        name: 'по популярности',
        checked: true,
        value: 'popularity',
      },
      {
        name: 'сначала недорогие',
        checked: false,
        value: 'cheap',
      },
      {
        name: 'сначала дорогие',
        checked: false,
        value: 'expensive',
      },
      {
        name: 'по жирности',
        checked: false,
        value: 'fat',
      },
    ],
    fat: [
      {
        value: '0',
        label: '0%',
        checked: false,
      },
      {
        value: '10',
        label: 'до 10%',
        checked: true,
      },
      {
        value: '30',
        label: 'до 30%',
        checked: false,
      },
      {
        value: 'more_30',
        label: 'выше 30%',
        checked: false,
      },
    ],
    composition: [
      {
        value: 'chocolate',
        label: 'шоколадные',
        checked: true,
      },
      {
        value: 'sugar',
        label: 'сахарные присыпки',
        checked: true,
      },
      {
        value: 'fruit',
        label: 'фрукты',
        checked: false,
      },
      {
        value: 'syrup',
        label: 'сиропы',
        checked: false,
      },
      {
        value: 'jam',
        label: 'джемы',
        checked: false,
      },
    ],
  }

  var infoLinks = [
    {
      text: 'Для поставщиков',
      icon: 'icon-heart',
    },
    {
      text: 'Наши документы',
      icon: false,
    },
    {
      text: 'О производстве',
      icon: false,
    },
    {
      text: 'Экологические стандарты',
      icon: false,
    },
  ]

  var socialLinks = [
    {
      img: 'icon-fb',
      title: 'Страница в фейсбуке',
    },
    {
      img: 'icon-vk',
      title: 'Группа в контакте',
    },
    {
      img: 'icon-insta',
      title: 'Профиль в инстаграме',
    },
    {
      img: 'icon-twitter',
      title: 'Аккаунт в твитере',
    },
  ]

doctype html
html(lang='ru')
  +head(title)

  body.page-catalog
    +header(isCatalog, goodsInBag)

    main
      section.catalog
        h1.visually-hidden Страница с товарами
        .catalog__wrapper
          .catalog__breadcrumbs
            +breadcrumbs(breadcrumbs)

          h2.catalog__title Сливочное мороженое

          .catalog__filters
            +filters(filters)

          .catalog__grid
            each item in iceCream
              +product(item.name, item.img, item.price)

          .catalog__pagination
            +pagination()

    +footer()
    script(src='js/vendor.js')
    script(src='js/script.js')
