include ../components/head
include ../components/breadcrumbs
include ../components/product

-
  var breadcrumbs = ['Главная', 'Каталог', 'Сливочное']

  var iceCream = [
    {
      img: 'img/ice-сream-01@1x.jpg',
      name: 'Сливочное с апельсиновым джемом и цитрусовой стружкой',
      price: 310,
    },
    {
      img: 'img/ice-сream-02@1x.jpg',
      name: 'Сливочно-кофейное с кусочками шоколада',
      price: 380,
    },
    {
      img: 'img/ice-сream-03@1x.jpg',
      name: 'Сливочно-клубничное с присыпкой из белого шоколада',
      price: 355,
    },
    {
      img: 'img/ice-сream-04@1x.jpg',
      name: 'Сливочное крем-брюле с карамельной подливкой',
      price: 415,
    },
    {
      img: 'img/ice-сream-05@1x.jpg',
      name: 'Сливочное с брусничным джемом',
      price: 325,
    },
    {
      img: 'img/ice-сream-06@1x.jpg',
      name: 'Сливочно-черничное с цельными ягодами черники',
      price: 410,
    },
    {
      img: 'img/ice-сream-07@1x.jpg',
      name: 'Сливочно-лимонное с карамельной присыпкой',
      price: 315,
    },
    {
      img: 'img/ice-сream-08@1x.jpg',
      name: 'Сливочное с шоколадной стружкой',
      price: 320,
    },
    {
      img: 'img/ice-сream-09@1x.jpg',
      name: 'Сливочно-ванильное с кусочками шоколада',
      price: 440,
    },
    {
      img: 'img/ice-сream-10@1x.jpg',
      name: 'Сливочноe с ментоловым сиропом',
      price: 435,
    },
    {
      img: 'img/ice-сream-11@1x.jpg',
      name: 'Сливочное с кусочками черного шоколада',
      price: 355,
    },
    {
      img: 'img/ice-сream-12@1x.jpg',
      name: 'Сливочное с мятным сиропом',
      price: 420,
    },
  ]

doctype html
html(lang='ru')
  +head('HTML Academy: Глейси – Каталог')

  body
    include ../components/header

    main
      div.catalog__wrapper
        div.catalog__breadcrumbs
          +breadcrumbs(breadcrumbs)

        h1.catalog__title Сливочное мороженое

        div.catalog__filters
          include ../components/filters

        div.catalog__grid
          each item in iceCream
            +product(item.name, item.img, item.price)

        div.catalog__pagination
          include ../components/pagination

    include ../components/footer
    script(src='js/vendor.js')
    script(src='js/script.js')
