include ../components/head
include ../components/breadcrumbs
include ../components/product

-
  var breadcrumbs = ['Главная', 'Каталог', 'Сливочное']

  var iceCream = [
    {
      img: 'https://via.placeholder.com/267x267',
      name: 'Сливочное с апельсиновым джемом и цитрусовой стружкой',
      price: 310,
    },
    {
      img: 'https://via.placeholder.com/267x267',
      name: 'Сливочно-кофейное с кусочками шоколада',
      price: 380,
    },
    {
      img: 'https://via.placeholder.com/267x267',
      name: 'Сливочно-клубничное с присыпкой из белого шоколада',
      price: 355,
    },
    {
      img: 'https://via.placeholder.com/267x267',
      name: 'Сливочное крем-брюле с карамельной подливкой',
      price: 415,
    },
    {
      img: 'https://via.placeholder.com/267x267',
      name: 'Сливочное с брусничным джемом',
      price: 325,
    },
    {
      img: 'https://via.placeholder.com/267x267',
      name: 'Сливочно-черничное с цельными ягодами черники',
      price: 410,
    },
    {
      img: 'https://via.placeholder.com/267x267',
      name: 'Сливочно-лимонное с карамельной присыпкой',
      price: 315,
    },
    {
      img: 'https://via.placeholder.com/267x267',
      name: 'Сливочное с шоколадной стружкой',
      price: 320,
    },
    {
      img: 'https://via.placeholder.com/267x267',
      name: 'Сливочно-ванильное с кусочками шоколада',
      price: 440,
    },
    {
      img: 'https://via.placeholder.com/267x267',
      name: 'Сливочноe с ментоловым сиропом',
      price: 435,
    },
    {
      img: 'https://via.placeholder.com/267x267',
      name: 'Сливочное с кусочками черного шоколада',
      price: 355,
    },
    {
      img: 'https://via.placeholder.com/267x267',
      name: 'Сливочное с мятным сиропом',
      price: 420,
    },
  ]

doctype html
html(lang='ru')
  +head('HTML Academy: Глейси – Каталог')

  body
    include ../components/header

    main
      div.catalog__wrapper
        div.catalog__breadcrumbs
          +breadcrumbs(breadcrumbs)

        h1.catalog__title Сливочное мороженое

        div.catalog__filters
          include ../components/filters

        div.catalog__grid
          each item in iceCream
            +product(item.name, item.img, item.price)

        div.catalog__pagination
          include ../components/pagination

    include ../components/footer
