include ../components/head

doctype html
html(lang= 'ru')
  +head('HTML Academy: Глейси – Каталог')

  body
    include ../components/header

    main
      include ../components/catalog

    include ../components/footer
