include ../components/head
include ../components/images
include ../components/menu-top
include ../components/header
include ../components/bag
include ../components/login
include ../components/search
include ../components/modal

-
  var isCatalog = false

doctype html
html(lang= 'ru')
  +head('HTML Academy: Глейси')

  body.page-index
    +header(isCatalog)

    main
      h1.visually-hidden Глэйси – магазин по продаже мороженного собственного производства
      include ../components/banner
      include ../components/promo
      include ../components/popular-goods
      include ../components/description
      include ../components/articles
      include ../components/map

    include ../components/footer
    +modal()
    script(src="https://api-maps.yandex.ru/2.1/?apikey=478da3f8-2506-4828-bc38-ebdf6ad4395a&lang=ru_RU" type="text/javascript")
    script(src='js/vendor.js')
    script(src='js/script.js')
