include ../components/head

doctype html
html(lang= 'ru')
  +head('HTML Academy: Глейси')

  body
    p Репозиторий создан для обучения на профессиональном онлайн‑курсе «<a href="https://htmlacademy.ru/intensive/htmlcss">HTML и CSS, уровень 1</a>».
