include ../components/head

doctype html
html(lang= 'ru')
  +head('HTML Academy: Глейси')

  body
    include ../components/header

    main
      h1.visually-hidden Глэйси – магазин по продаже мороженного собственного производства
      include ../components/banner
      include ../components/promo
      include ../components/popular-goods
      include ../components/description
      include ../components/articles
      include ../components/map

    include ../components/footer
